PyYAML==5.4.1
requests==2.27.1
setuptools>=45
Jinja2==3.0.3
MarkupSafe==2.0.1
smbus2==0.4.0
tqdm==4.64.1
feedparser==6.0.10
num2words==0.5.12
colorama==0.4.5
docopt==0.6.2
antlr4-python3-runtime==4.9.3
omegaconf==2.1.1
networkx==2.6.3
sympy==1.10.1
tinytuya==1.15.0
websockets==10.4
filelock==3.6.0
fsspec==2022.11.0
pillow==8.4.0
cffi==1.15.1
charset-normalizer==2.1.1
idna==3.4
urllib3==1.26.18
certifi==2022.12.7
